* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body,
html {
    width: 100%;
    height: 100%;
}

#root {
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
}

.home h1 {
    font-size: 8rem;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    text-decoration: underline;
    white-space: nowrap;
}

.about h1 {
    font-size: 8rem;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    text-decoration: underline;
    white-space: nowrap;
}

.courses h1 {
    font-size: 8rem;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    text-decoration: underline;
    white-space: nowrap;
}

.nav {
    display: flex;
    gap: 2rem;
    width: 100%;
    padding: 2rem;


    a {
        font-size: 2rem;
        text-decoration: none;
        color: white;
    }
}

.sale {
    display: flex;
    gap: 2rem;
    flex-wrap: nowrap;
    overflow: hidden;
    background-color: rgb(125, 40, 103);
    padding: .5rem;

    p {
        font-size: 2rem;
        flex-shrink: 0;
    }
}


.footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(100, 99, 101);
    padding: 4rem;
    position: absolute;
    bottom: 0%;


    h2 {
        font-size: 2rem;
    }

    button {
        padding: 1rem 2rem;
        border: none;
        outline: none;
        background-color: rgb(75, 155, 193);
        color: white;
        font-weight: 500;
        font-size: 1.5rem;
        transition: all ease .3s;

        &:hover {
            background-color: rgb(58, 131, 165);
            cursor: pointer;
        }

        &:active {
            scale: .96;
        }
    }

}